@import './character-sheet/stats-tab.scss';
@import './character-sheet/equipment-tab.scss';
@import './character-sheet/fight-tab.scss';

.character-sheet {
    display: flex;
    flex-direction: column;

    .sheet-header {
        display: flex;
        height: 10em;
        gap: 1em;
        align-items: flex-end;

        .character-image {
            height: 100%;
        }

        .character-info {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}