<form>
    <div class="form-group">
        <label>Модификатор броска</label>
        <input type="text" name="modifier" value="0" />
    </div>
    <div class="form-group">
        <label>Слепой бросок</label>
        <input type="checkbox" name="blindRoll" />
    </div>
</form>