<section class="vereteno bio-container">
    <div class="vereteno bio">
        <div class="vereteno title">{{localize "vereteno.common.biography"}}</div>
        <textarea class="bio-editor" name="system.description">{{description}}</textarea>
    </div>
</section>