<section class="vereteno fight-container">
    <div class="vereteno item-group">
        <h2>Атака</h2>
        <div class="items-list">
            {{#each equippedWeapons as |equipedWeapon|}}
            {{#with equipedWeapon}}
            {{> "systems/vereteno/templates/sheets/partials/actor/fight/melee-weapon-plate.hbs" equipedWeapon}}
            {{/with}}
            {{/each}}
        </div>
    </div>
</section>