<section class="vereteno fight-container">
    <div class="vereteno item-group">
        <h2>Атака</h2>
        <div class="items-list">
            {{#each equippedWeapons as |equipedWeapon|}}
            {{#with equipedWeapon}}
            {{#if equipedWeapon.system.isBrawling}}
            {{> "systems/vereteno/templates/sheets/partials/actor/fight/brawling-weapon-plate.hbs" equipedWeapon}}
            {{/if}}
            {{#if equipedWeapon.system.isMelee}}
            {{> "systems/vereteno/templates/sheets/partials/actor/fight/melee-weapon-plate.hbs" equipedWeapon}}
            {{/if}}
            {{#if equipedWeapon.system.isRanged}}
            {{> "systems/vereteno/templates/sheets/partials/actor/fight/ranged-weapon-plate.hbs" equipedWeapon}}
            {{/if}}
            {{/with}}
            {{/each}}
        </div>
        <h2>Защита</h2>
        <div class="items-list">
            {{#with equippedArmor as |equippedArmor|}}
            {{> "systems/vereteno/templates/sheets/partials/actor/fight/armor-plate.hbs" equippedArmor}}
            {{/with}}
        </div>
    </div>
</section>