$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

@font-face {
    font-family: "Vezitsa";
    src: url("../fonts/ofont.ru_Vezitsa.ttf");
    font-weight: normal;
    font-style: normal;
}