<section class="base-item-block">
    <div class="vereteno weapon description">
        <div class="vereteno title">{{localize "vereteno.common.description"}}</div>
        <textarea name="system.description">{{item.system.description}}</textarea>
    </div>
</section>