$vereteno-white: #fcfcfc;
$vereteno-red: #ae0000;
$vereteno-red-tint: rgba(174, 0, 0, 0.01);
$vereteno-red-shadow: #d47d7d;
$vereteno-red-light: rgba(174, 0, 0, 0.2);
$vereteno-gray-light: rgba(88, 88, 88, 0.2);