.armor-roll {
    .dice-total {
        display: flex;
        justify-content: space-between;

        .result-category {
            width: 49%;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.1);
            
            &.successes {}

            &.crit-fails {
                color: $vereteno-red;
            }
        }

    }
}