@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'styles/utils/colors';
@import 'styles/utils/typography';
@import "~rpg-awesome/scss/rpg-awesome.scss";

.vereteno {
    @import "styles/item-sheet.scss";
    @import "styles/character-sheet.scss";

    &.lang-ru {
        .window-content {
            font-family: 'Vezitsa', sans-serif;
        }
    }
}

@import "styles/chat/vereteno-armor-roll.scss";

.dice-tooltip .dice-rolls .roll.good {
    color: #787816;
    filter: sepia(0.5) hue-rotate(10deg);
}

.double-shadow {
    text-shadow: 5px 1px black;
}

.red {
    color: red;
}

.gray {
    color: gray;
}